


# Ignore Checkpoints folders in both U_net_(1) and U_net_(2)
U_net_*/Checkpoints*/

# Ignore Dataset folders in both U_net_(1) and U_net_(2)
U_net_*/Dataset/

# Ignore Image_Gen folders in both U_net_(1) and U_net_(2)
U_net_*/Image_Gen/

**/test_img/
**/Trained_model/